@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0 - 400px:        small
400px - 600px:    phone
600px - 900px:    tab-port
900px - 1200px:   tab-land
1200px - 1800px:  
1800px + :        big-desk

1em = 16px

ORDER: Base + typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    // 400px
    @media only screen and (max-width: 25em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // 900px
    @media only screen and (max-width: 56em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desk {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
